/* TODO: Change colors with originally colors */

.header {
  @apply flex justify-center h-12;
  background-color: rgb(76, 51, 152);
  height: 45px;
}
.wrapper {
  @apply container flex justify-between w-2/3;
}
.left {
  @apply inline-flex items-end gap-4 font-bold;
}

.left a {
  @apply px-4 pb-2 pt-2 rounded-t-lg text-gray-300;
  background: #5d3ebc;
}

.right {
  @apply flex items-center justify-center gap-6;
}

.svgIcon {
  @apply h-5 w-5;
}

.iconButton {
  @apply flex items-center gap-1 text-gray-300 font-normal text-sm;
}

.active {
  @apply text-yellow-400 !important;
}
